<div class="grid pt-2">
    <div class="col-12 md:col-6">
        <img src="../../../../assets/user/Img_User.jpeg" alt="" class="img-profile w-full border-round"> 
    </div>
    <div class="col-12 md:col-6">
        <div class="flex align-items-center">
            <i class="pi pi-user" style="font-size: 1.5rem"></i> <span class="pl-2 text-xl">{{'Jhon Mario Chilito'}}</span>
        </div><br>
        <div class="flex align-items-center">
            <i class="pi pi-id-card" style="font-size: 1.5rem"></i> <span class="pl-2 text-xl">{{'1004419254'}}</span>
        </div><br>
        <div class="flex align-items-center">
            <i class="pi pi-briefcase" style="font-size: 1.5rem"></i> <span class="pl-2 text-xl">{{'Developer Enginer'}}</span>
        </div><br>
        <div class="flex align-items-center">
            <i class="pi pi-phone" style="font-size: 1.5rem"></i> <span class="pl-2 text-xl">{{'+57 321 2907 477'}}</span>
        </div><br>
        <div class="flex align-items-center">
            <i class="pi pi-envelope" style="font-size: 1.5rem"></i><span class="pl-2 text-xl">{{'whoaomi11@gmail.com'}}</span>
        </div><br>
        <div class="flex justify-content-center">
            <span class="pl-2 text-xl">Medios de Contacto</span>
        </div><br>
        <div class="flex justify-content-center align-items-center">
            <i class="pi pi-whatsapp" (click)="RedWath();" style="font-size: 1.5rem; color: green; cursor: pointer;"></i> <span class="pl-2 text-xl">{{''}}</span>
            <i class="pi pi-linkedin" (click)="RedLink();" style="font-size: 1.5rem; color:  blue; cursor: pointer;"></i> <span class="pl-2 text-xl">{{''}}</span>
        </div>
    </div>
    
</div>