<div class="grid pt-2">
    <div class="col-12 md:col-6">
        <img [src]="Product?.image"  (error)="handleImageError($event)" alt="" class="w-full">
    </div>
    <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2">
            <label class="font-bold">Nombre de Producto</label>
            <label>{{ Product?.title | titlecase}}</label>
        </div><br>
        <div class="flex flex-column gap-2">
            <label class="font-bold">Nombre Categoria</label>
            <label>{{ Product?.category | titlecase}}</label>
        </div><br>
        <div class="flex flex-column gap-2">
            <label class="font-bold">Precio</label>
            <label>{{ Product?.price}}</label>
        </div><br>
        <div class="flex flex-column gap-2 w-auto">
            <label class="font-bold">Descripcion</label>
            <span class="text-justify ">{{ Product?.description | titlecase | slice:0:250}}</span>
        </div>
    </div>
</div>
