.border-card{
    border: 2px rgb(243, 246, 250) solid;
}
.background-botons{
    background-color: rgb(243, 246, 250);
}
.content-second{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 5px rgb(10, 161, 252) solid
}
.content-img{
    border: 3px whitesmoke solid;
}